* {
  margin: 0;
}

.trainig-type {
  display: flex;
}

.train-type {
  width: 120px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
  color: white;
  background-color: #888;
  border: 3px solid #555;
  text-align: center;
  line-height: 40px;
}

.activeTrainType {
  border-color: rgb(255, 162, 129);
  color: rgb(255, 0, 0);
  background-color: rgb(255, 241, 159);
}


.hide {
  /* color: rgba(0, 0, 0, 0); */
  display: none;
  /* border: 1px solid #888;
  width: 30px;
  height: 30px;
  position: relative;
  top: 5px; */
}

.task-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2em;
}

.japan-char {
  line-height: 0.5em;
}

.sound {
  margin: 0 25px;
}

button {
  width: 85px;
  height: 40px;
  color: white;
  background-color: #888;
  border: 3px solid #555;
  cursor: pointer;
  margin-left: 25px;
  font-size: 0.6em;
}

.training-container {
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.correctness {
  position: relative;
  font-weight: bold;
  font-size: 1.7em;
  opacity: 0;
  margin-bottom: 70px;
}

.correctness-anim {
  animation: correctness-appearance 2.3s;
}

@keyframes correctness-appearance {
  from {opacity: 0}
  25% {opacity: 1}
  65% {opacity: 1}
  to {opacity: 0}
}

.test-answer-input {
  height: 25px;
  width: 35px;
  font-size: 0.8em;
  padding: 2px;
  margin: 0 50px;
}

.test-form {
  display: flex;
  align-items: center;
}

.test-answer-div {
  margin-right: 50px;
  font-size: 0.9em;
}

.submit-test-answer-btn {
  height: 30px;
  width: 60px;
}

.test-stats {
  margin-top: 70px;
}

.restart-btn {
  height: 25px;
  width: 75px;
  border: 2px solid #555;
  background-color: #888;
  color: white;
  text-align: center;
  line-height: 25px;
  margin-top: 20px;
  cursor: pointer;
}